@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 20px;
  background-color: #f8f8f8;
  font-family: "Barlow Condensed", sans-serif;
  margin: 0;
}

img {
  display: block;
  width: 330px;
  height: 220px;
  border-radius: 10px;
  max-width: 90%;
  height: auto;
  opacity: 0.9;
  margin: 30px auto 0 auto;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

img:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

h1,
h2 {
  text-align: center;
  color: rgb(255, 99, 71);
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

ol,
ul {
  list-style-type: none;
  padding: 0;
  margin-top: 15px;
}

ol li,
ul li {
  margin: 0 0 0 18px;
  line-height: 1.6;
  font-size: 1.25em;
  font-style: italic;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  transition: 0.3s ease-in-out;
  color: rgb(255, 99, 71);
}

button {
  font-family: inherit;
}

footer {
  text-align: center;
  margin-top: 40px;
}

table {
  width: 50%;
  margin: 25px auto 0 25px;
}

tr td {
  padding: 15px;
  text-align: center;
}

tr:first-child th {
  padding: 15px;
}

table,
th,
td {
  border: 1px solid rgb(255, 99, 71);
  border-collapse: collapse;
}

main {
  max-width: 50%;
  margin: 0 auto;
}

.foods {
  display: flex;
  margin-top: 25px;
  gap: 50px;
}
